@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .first-content {
    width: 100%;
    max-width: max; /* Adjust this value depending on the maximum width you want */
    margin: 0 auto; /* Centers the content */
    padding: 0px 0; /* Add some vertical padding */
  }
  
  .height-75vh {
    height: 75vh;
  }
  
  